<div class="sidenav d-flex flex-column min-vh-100 p-4 shadow-sm" style="background-color: #F4F1EA; width: 300px;">

    <div class="mb-5 mt-2 text-center">
        <a class="logo" [routerLink]="['']">
            <img src="assets/images/logo.jpg" alt="Logo" class="img-fluid rounded shadow-sm"
                style="max-height: 60px;" />
        </a>
    </div>

    <ul class="nav flex-column mb-auto list-container" *ngIf="navList?.length">
        <li *ngFor="let menu of navList" class="menu-item">

            <a *ngIf="!menu.children" [routerLink]="menu.path" routerLinkActive="active-link"
                class="text-lg font-bold py-2 px-5">
                <span class="fs-5 fw-normal">{{ menu.name }}</span>
            </a>

            <div *ngIf="menu.children">
                <button (click)="toggleMenu(menu.name)"
                    class="nav-link d-flex align-items-center justify-content-between py-3 px-0 text-dark opacity-75 w-100 border-0 bg-transparent text-start">
                    <span class="fs-5 fw-normal">{{ menu.name }}</span>
                </button>

                <div class="submenu" [style.max-height]="openMenuName === menu.name ? '500px' : '0px'">
                    <ul class="list-unstyled ps-3 pb-3">
                        <li *ngFor="let child of menu.children">
                            <a class="nav-link py-2 text-secondary text-sm" [routerLink]="child.path">
                                {{ child.name }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
    <div *ngIf="!IsConnected" class=" items-center md:flex">
        <a [routerLink]="['/auth/login']" mat-raised-button color="warn" class="text-lg font-bold py-2 px-5">Login</a>
        <a [routerLink]="['/auth/signup']" mat-raised-button color="accent"
            class="text-lg font-bold py-2 px-5 ml-2">Join Now</a>
    </div>
</div>